
.v-box {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-color: rgb(250, 250, 250);
    -fx-alignment: center;
    -fx-pref-height: 0;

}
.title-pane {
    -fx-pref-height: 0;

}

.delete-button {
    -fx-graphic: url(../view/Close_16x16.png);
    -fx-max-height: 50;
    -fx-max-width: 50;
}
.delete-button-background {
    -fx-background-image: url(../view/Close_512x512.png);
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}